version: "3.9"
services:
  db:
    image: postgis/postgis:16-3.4
    container_name: citydb
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always

  api:
    build: .
    container_name: warsaw_api
    env_file: 
      - .env
    depends_on:
      - db
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - ../data_science:/app/data_science
      - ../models:/app/models
      - ../reports:/app/reports
    command: uvicorn api.main:app --host 0.0.0.0 --port 8000 --reload

volumes:
  pgdata:
